<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/teaser.css">
    <title>ODCS - OpenDataCloudServices</title>
  </head>
  <body>
    <div>
      <div>
        <img src="/images/teaser-logo.svg" alt="Open Data Cloud Services" /><br />
        Coming Soon
      </div>
    </div>
  </body>
</html>



